{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    {% if title in entries %}
        <h1>{{ error }}</h1>
    {% else %}
        <h3>Create New Page</h3>
        <form action="{% url 'new_page' %}" method='post'>
            {% csrf_token %}
            {{ new_page_form.title }}
            <br>
            {{ new_page_form.text_area }}
            <br>
            <input type="submit" value="Save">
        </form>
    {% endif %}
{% endblock %}